

/*____main-body_styles____*/

body, html {
    margin: 0;
    padding: 0;
    background: darkgoldenrod;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    height: 100%;
    
  }

/*----- Credit: for sticky footer: https://css-tricks.com/couple-takes-sticky-footer/ -----*/

  body {
    display: flex;
    flex-direction: column;
  }
  
  .content {
    flex: 1 0 auto;
  }
  
  .footer {
    flex-shrink: 0;
  }
  .social-link-item .fab{
    font-size: 20px;
    margin-bottom: 5px;
    color: beige !important;
  }
/* _________  cards __________ */

.card-title, #recipe-title{
    font-size: 80px;
    margin-bottom: 5px;
    color: beige;
}

.signup-btn{
    background-color: beige;
    color: black;
}
.signup-btn:hover{
    background-color: darkgoldenrod;
    border: beige;
    color: beige;
}


.cat-card{
    color: goldenrod;
    background-color: darkslategray;
    border: darkgoldenrod 1px solid;
}

.title-brand{
    font-size: 50px;
    color: black;
    padding-left: 5px;
}
.fa-beer{
    font-size: 40px;
    padding: 5px;
    color: black;

}
#brew-title{
    font-size: 30px;
    padding-bottom: 20px;
}
.title-main{
    text-align: center;
    font-size: 80px;
    color: beige;
}

.sub-main{
    text-align: center;
    font-size: 50px;
    font-style: italic;
    color: beige;
}

.carousel{
    overflow: visible;
}

.pic img {
    height: calc(50vh - 100px); /*tip on how to centre images in the slick carousel from https://stackoverflow.com/questions/34670430/slick-js-how-to-align-images-in-center-of-carousel*/
    width: auto;
    margin: 0 auto;
  }

p{
    font-size: 25px;
    color: black;
}

/*______Navbar______*/

nav{
    background-color: beige;
    color: black;
}

nav li a{
    color: black;
    font-size: 20px
}


.modal { 
    width: 45% !important ; 
    height: 40% !important ; 
}  

.fasser{
    font-size: 65px;
    color: goldenrod;
}

.del-btn{
    margin-top: 1px;
    color: beige;
    background-color: darkred;
}
.edit-btn{
    margin-top: 1px;
    color: black;
    background-color: gold;
}