@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap');


/*____main-body_styles____*/

body, html {
    margin: 0;
    padding: 0;
    background: darkgoldenrod;
    font-family: 'Sunflower', sans-serif;
    position: relative;
    height: 100%;
    
  }

#filler{
  margin-top: 40px ;
}

/*----- Credit: for sticky footer: https://materializecss.com/footer.html -----*/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.page-footer{
  background-color: transparent;
}
/* _________  cards __________ */

.card-title, #recipe-title{
    font-size: 80px;
    margin-bottom: 5px;
    color: beige;
}


#signup-link a:active{
color: darkolivegreen;
}


.cat-card{
    color: goldenrod;
    background-color: darkslategray;
    border: darkgoldenrod 1px solid;
}
/*________titles text_________*/
.title-brand{
    font-size: 40px;
    color: black;
    padding-left: 5px;
}
.fa-beer{
    font-size: 30px;
    padding: 5px;
    color: black;

}
#brew-title{
    font-size: 30px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.title-main{
    text-align: center;
    font-size: 70px;
    color: beige;
    line-height: normal;
}

.sub-main{
    text-align: center;
    font-size: 30px;
    font-style: italic;
    color: beige;
    margin-bottom: 0%;
}
/*_______home page carousel____*/


.carousel.carousel-slider{
  resize: vertical 60%;
  }

.carousel-fixed-item.img-text{
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.253);
    }

p{
    font-size: 25px;
    color: black;
}
a {
	color: darkgoldenrod;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}
a:hover{
	color: gold;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}
/*______Navbar______*/

nav{
    background-color: beige;
    color: black;
}

nav li a{
    color: black;
    font-size: 20px
}

/*______modal_____*/
.modal { 
    width: 45% !important ; 
    height: 40% !important ; 
}  
/*_____icon______*/
.fasser{
    font-size: 65px;
    color: goldenrod;
}

.social-link-item .fab{
    font-size: 20px;
    margin-bottom: 5px;
    color: beige !important;
  }
.social-link-item .fab:hover{
    font-size: 20px;
    margin-bottom: 5px;
    color: black !important;
  }
/*______BTN_____*/
.signup-btn{
    background-color: beige;
    color: black;
}
.signup-btn:hover{
    background-color: darkgoldenrod;
    border: beige;
    color: beige;
}
.form-btn{
    background-color: black;
    color: beige;
}
.form-btn:hover{
    background-color: darkolivegreen;
    color: black;
}

.btn .del-btn{
    margin-top: 1px;
    color: beige;
    background-color: darkred;
}

.btn .del-btn:hover{
    margin-top: 1px;
    color: black;
    background-color: beige;
}
.btn .edit-btn{
    margin-top: 1px;
    color: black;
    background-color: gold;
}
.btn .edit-btn:hover{
    margin-top: 1px;
    color:beige;
    background-color: black;
}

/*____ alterations to materialise css default formatting____*/

  /* label color */
  .input-field label {
    color: black;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: black;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid black;;
    box-shadow: 0 1px 0 0 black;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid black;
    box-shadow: 0 1px 0 0 black;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid black;
    box-shadow: 0 1px 0 0 black;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: black;
  }
  .dropdown-content li > a, .dropdown-content li > span {
	font-size: 16px;
	color: black;
	display: block;
	line-height: 22px;
	padding: 14px 16px;
}

.light-blue-text {
	color: black !important;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
	background-color: goldenrod;
    color: black;
}

.btn, .btn-large, .btn-small {
	text-decoration: none;
	color: beige;
	background-color: black;
	text-align: center;
	letter-spacing: .5px;
	-webkit-transition: background-color .2s ease-out;
	transition: background-color .2s ease-out;
	cursor: pointer;
}

.card-title .black{
    background-color: black;
}

body::-webkit-scrollbar {
    width: 2em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: darkolivegreen;
    outline: 1px solid darkgoldenrod;
  }


  @media screen and (max-width: 480px) {
  .pic img {
	height: calc(50vh - 100px);
	width: auto;
	margin: 0 auto;
}

.carousel h1{
  font-size: 20px;
  bottom:20px !important;
}

.title-main {
  font-size: 45px;
}
.sub-main{
  font-size: 20px;
}

.carousel.carousel-slider .carousel-fixed-item #sign-up{
font-size: 20px;
}

.fa-bars{
  color: black;
  font-size: 30px;
}
  }