{% extends "base.html" %}
{% block content %}


<h2>Add Recipe Bitches!</h2>
<div class="row">
   <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
      <!--Recipe name-->
      <div class="row recipe-name">
         <div class="input-field col s6">
            <input name="recipe_name" id="recipe_name" type="text" class="form-control validate" required>
            <label for="recipe_name">Recipe Name</label>
         </div>
      </div>
      <!--Category selection-->
      <div class="row category">
         <div class="input-field col s4">
            <select name="category_name" id="category_name" class="form-control validate" required>
               <option value="" disabled selected>Choose Category</option>
                        {% for category in categories %}
                           <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
            </select>
         </div>
      </div>

      <!-- Recipe difficulty -->
      <div class="row difficulty">
         <div class="input-field col s4">
            <i class=""></i>
            <select name="difficulty" id="difficulty" class="form-control validate" required>
               <option value="" disabled>Choose Difficulty</option>
               {% for diff in difficulties %}
                  <option value="{{ diff.difficulty }}">{{ diff.difficulty }}</option>
               {% endfor %}
           </select>
         </div>
      </div>

      <!-- Serves -->
      <div class="row serves">
         <div class="input-field col s6">
            <i class=""></i>
            <label for="serves">Serves</label>
            <input type="text" class="form-control validate" name="serves" id="serves" aria-describedby="serves"
               required>
         </div>
      </div>

      <!-- Preparation time -->
      <div class="row prep-time">
         <div class="input-field col s6">
            <i class=""></i>
            <label for="prep_time">Preparation Time (HH:MM)</label>
            <input type="text" class="form-control validate" name="prep_time" id="prep_time"
               aria-describedby="prep_time" required>
         </div>
      </div>
      <!-- Description of recipe -->
      <div class="row description">
         <div class="input-field col s12">
            <i class=""></i>
            <label for="description">Description</label>
            <input type="text" class="form-control validate" name="description" id="description"
               aria-describedby="description" minlength="5" required>
         </div>
      </div>

      <!-- Ingredients for recipe -->
      <div class="row ingredient">
         <div class="input-field col s12">
            <i class=""></i>
            <label for="ingredients">Ingredients</label>
            <input type="text" class="form-control validate" name="ingredients" id="ingredients"
               aria-describedby="ingredients" minlength="3" required>
         </div>
      </div>

      <!-- image of recipe URL input -->
      <div class="row prep">
         <div class="input-field col s12">
            <i class=""></i>
            <label for="recipe_image">Recipe URL</label>
            <textarea type="text" id="recipe_image" name="recipe_image" minlength="5" maxlength="200"
               class="materialize-textarea validate" required></textarea>
               <span class="helper-text" data-error="wrong" data-success="right">Make sure the url is correct!</span>
         </div>
      </div>


      <div class="row center-align">
         <div class="col s12">
            <button class="btn waves-effect present-buttn" type="submit" name="action">Add Recipe</button>
            <a href="{{ url_for('get_recipes') }}" class="back btn btn-cancel">To Recipes</a>
         </div>
      </div>

   </form>
</div>

{% endblock %}